[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

package-name = collective.contentrules.setfield
package-extras = [test]

parts +=
    rebuild_i18n-sh
    releaser
    code-analysis

[code-analysis]
source-folder = collective/contentrules/setfield
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/${:source-folder}
flake8-ignore = Q000, T000, P001, S001, C101, I002, W503
flake8-exclude = ${:source-folder}/tests, ${:source-folder}/testing.py
pre-commit-hook = False
debug-statements = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
utf8-header = True

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]

[versions]
#setuptools = 8.3
#zc.buildout = 2.13.3
pycodestyle = >=2.6.0
docutils = >=0.13.1
Pygments = 2.5.2
# Version 0.42 drops Python2 support
check-manifest = 0.41
configparser = 3.5.3
pyroma = 2.6.1
