include requirements.txt LICENSE MANIFEST.in pyproject.toml
include README.rst CHANGES.rst CONTRIBUTORS.rst
exclude buildout.cfg
recursive-include collective *
recursive-exclude src *.py[co]
global-exclude *.py[co]
