[tool.black]
line-length = 80

[tool.isort]
profile = "black"
line_length = 80
force_alphabetical_sort = true
lines_after_imports = 5
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
