name: CI

on:
  push:
    branches-ignore:
      - "master"
      - "releases/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        plone-version: 
          - '4.3'
          - '5.0'
          - '5.1'
        python-version: ['2.7']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libxml2-dev libxslt-dev python-dev
          pip install virtualenv wheel       
      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            ~/buildout-cache
            ~/extends
            ~/.cache/pip
          key: ${{ runner.os }}-buildout-${{ matrix.plone-version }}-${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-buildout-
      - name: setup buildout cache
        run: |
            mkdir -p ~/buildout-cache/{eggs,downloads}
            mkdir ~/.buildout
            echo "[buildout]" > ~/.buildout/default.cfg
            echo "download-cache = ~/buildout-cache/downloads" >> ~/.buildout/default.cfg
            echo "eggs-directory = ~/buildout-cache/eggs" >> ~/.buildout/default.cfg
      - name: buildout
        run: |
          sed -ie "s#test-5.0.x.cfg#test-${{ matrix.plone-version }}.x.cfg#" buildout.cfg
          pip install -r requirements.txt
          buildout -Nc buildout.cfg
      - name: test
        run: |
            bin/test --all 
      - name: code-analysis
        run: echo "${{ matrix.plone-version }}" | grep 5.1 || bin/code-analysis  
      - uses: actions/setup-python@v2
        if: failure()
        with:
          python-version: 2.7            
      - name: createcoverage
        run: |
            bin/coverage json -i
      - name: Coveralls
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: ${{ matrix.plone-version }}-${{ matrix.python-version }}     

  coveralls_finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel-finished: true

